BASE_URL=https://oop-autograder.vercel.app
TEST_DB_URL=
PW_BROWSER=chromium

TEST_STUDENT_IRN=2331200136
TEST_STUDENT_PASSWORD=YOUR_REAL_STUDENT_PASSWORD

TEST_LECTURER_IRN=lecturer.tester
TEST_LECTURER_PASSWORD=YOUR_REAL_LECTURER_PASSWORD

TEST_RESET_TOKEN=